experimental_monorepo_root = true
[monorepo]
config_roots = ["."]

[settings]
activate_aggressive = true

[env]
MISE_EXPERIMENTAL = true

[tasks.clean]
description = "Clean the site"
run = "rm -rf docs"

[tasks.tool_build]
description = "Build the site"
run = "perl tools/build.pl"

[tasks.build]
description = "Build the site"
depends = ["clean", "tool_build"]
run = "hugo --minify --logLevel=info"

[tasks.deploy]
description = "Deploy the site"
depends = ["build"]
run = "bash +x tools/gh-pages.sh"

[tasks.test]
description = "Test the site"
depends = ["clean", "tool_build"]
run = "hugo -F --logLevel=debug"

[tasks.drafts]
description = "Show drafts"
run = "hugo list drafts"

[tasks.server]
description = "Run the server"
run = "hugo server -D -F"
